project:
  type: website

website:
  title: "Project 1 Website CE"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: Example Analysis.qmd
        text: Example Analysis

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

